.nav-container {
    position: sticky;
    top: 0px;
    z-index: 8;
}
.navbar{
    height: 100px;
    color: white;
    background-color: black;
}
.box {
    background-image:url(./img/og__c6pnqxxo9e6a.jpg) ;
    height: 80vh;
    max-width: 100%;
    background-size: cover;
    margin-bottom: 120px;
}
.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    padding: 80px;
}
.card {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
max-width: 300px;
margin: auto;
text-align: center;
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {color: gray;
font-size: 22px;}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: black;
}

.card button:hover {
    opacity: 0.7;
}
.modal-container {
    width: 80%;
    margin: 0 10%;
    color: white;
    background: rgb(290,200,273);
    background: linear-gradient(0deg, rgba(290,216,23,1) 5%, rgba(288,114,272,0.7656104678199405) 100%); flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color:none;
}
.modal-container::-webkit-scrollbar {
    display: none;
}
.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    width: 100%;
    
}
.modal-header-tittle {
    justify-self: start;
}
.modal-header-button {
    cursor: pointer;
}
.modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    
}

.modal-container > div > img {
    height:120px ;
    width: 120px;
}
.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}
.ver-carrito{
    cursor: pointer;
}
.ver-carrito:hover{
    opacity: 0.7;
}
.delete-product {
    cursor:pointer
}
.delete-product:hover {
    transform: scale(1.3);
}
.cantidad-carrito {
    background-color: blue;
    color: white;
    border-radius: 100%;
    font-size: 12px;
    padding: 4px;
    top: 37px;
    right: 14px;
    position: absolute;
    display: none;
}
.sumar {
    cursor: pointer;
}
.restar {
    cursor: pointer;
}
.quitar {
    cursor: pointer;
}